---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import logoImage from "@images/mendoza_metalurgica_logo.png";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import pricing from "@data/pricing.json";
import featureImage from "@images/features-image.avif";
import construction from "@images/construction-image.avif";
import tools from "@images/automated-tools.avif";
import dashboard from "@images/dashboard-image.avif";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
---

<MainLayout>

  <HeroSection
    title=`Soldamos todo lo que necesites a medida en <span
        class="text-yellow-500 dark:text-yellow-400">Mendoza Metalúrgica</span>`
    subTitle="Presupuesto libre de cargo"
    primaryBtn="ver productos"
    primaryBtnURL="/products"
    secondaryBtn="Contactar"
    secondaryBtnURL="/contact"
    src={logoImage}
    alt="Medoza Metalurgica"
  />

  <ClientsSection
    title="Con precios accesibles y buena calidad en nuestro trabajo"
    subTitle=""
  />



  <FeaturesNavs
    title=`Encuentre lo que necesite en <span class="text-yellow-500 dark:text-yellow-400">Mendoza Metalúrgica</span>, nos adecuamos a sus exigencias.`
    tabs={[
      {
        heading: "Presupuesto libre de cargo",
        content:
          "Estamos a su dispocición para cotizar cualquier tipo de contucción, obra o proyecto de forma totalmete gratis y libre de cargo ",
        svg: "tools",
        src: tools,
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true,
      },
      {
        heading: "Trabajos a medida",
        content:
          "Hacemos y fabricamos todo segun las necesidades y exigencias de cada cliente en particular para crear una solución única y perfecta para cada cliente.",
        svg: "dashboard",
        src: dashboard,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
      {
        heading: "Comunicación",
        content:
          "Puede realizar su consulta al siguiente núnero de celular: 261-334-6065, mediate llamada, SMS, Whatsapp o esbribirnos a nuestro instagram",
        svg: "house",
        src: construction,
        alt: "Gray metal building frame near tower crane during daytime",
      },
    ]}
  />




  <!--
  
  <FAQ title="Preguntas<br />boludas" faqs={faqs} />
  -->

  <HeroSectionAlt
    title="Contruyamos juntos"
    subTitle="Para ver más de nuestro trabajo pedes segurnos en Instragram"
    url="https://github.com/mearashadowfax/ScrewFast"
  />
</MainLayout>
